.MuiDropzoneArea-text {
    margin: 10px auto !important;
}

.MuiDropzoneArea-root {
    min-height: 100px !important;
}

.MuiTypography-h5 {
    font-size: 20px !important;
}

.MuiDropzoneArea-icon {
    width: 30px !important;
    height: 30px !important;
}

.form-group{
    margin: 10px auto;
}