@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
  --primary-color : #080202;
  --bg-color : white;
  --sidenav-color : #0C134F;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

.App{
  width: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.right-content{
  margin-left: 280px;
}


@media only screen and (max-width: 767px) {
  .right-content{
    margin-left: 0;
  }
}